:80 {
    root * /var/www/html/public

    php_fastcgi app:9000 {
        env HTTPS on
        env HTTP_X_FORWARDED_PROTO https
        env HTTP_X_FORWARDED_HOST {http.request.host}
    }

    file_server
    log {
        output stdout
        format console
    }
}
