:80 {
    root * /var/www/html/public

    reverse_proxy app:8000 {
        env HTTP_X_FORWARDED_PROTO https
        env HTTP_X_FORWARDED_HOST {host}
    }

    
    log {
        output stdout
        format console
    }
}
